<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/general/header') %>
  <%- include('../partials/application/app')%>
</head>

<body ng-app="appGolkii" class="sidebar-icon-only">
  <div class="container-scroller">
    <%- include('../partials/application/navbar')%>
    <div class="container-fluid page-body-wrapper">
      <%-include('../partials/application/sidebar')%>
      <div class="main-panel">
        <%-body%>
      </div>
    </div>
  </div>
  <%- include('../partials/application/scripts')%>
</body>

</html>

